.column-1 {
  background-color: red;
  width: 49%;
  /*height: 80%;*/
  /*position: absolute;*/
  display: inline-block;
}

.column-2 {
  background-color: blue;
  width: 49%;
  /*height: 80%;*/
  /*position: absolute;*/
  right: 0;
  display: inline-block;
  vertical-align: top;
}

header {
  background-color: gray;
  height: 10%;
  width: 100%;
  top: 0px;
}

footer {
  background-color: aqua;
  height: 10%;
  width: 100%;
  bottom: 0px;
  position: relative;
  /*clear: both;*/
  display: block;
  padding-top: 50px;
}